:root {
  --dark-theme: #0a0b17;
  --selected-you: #00a9a9;
  --selected-ai: #ff007a;
  --draw: #4f53ff;
}

body {
  background-color: #f9faf8;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.gameTop {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4vw;
}

.heroHeader {
  font-size: 60px;
  color: var(--dark-theme);
  font-weight: 900;
}

.mainHeader {
  font-size: 60px;
  color: var(--dark-theme);
  font-weight: 900;
  margin-bottom: 0;
}

.subHeader {
  font-size: 32px;
  color: var(--dark-theme);
  margin-top: 0;
}
.splitHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 10vw;
}
.youHeader {
  color: var(--selected-you);
}
.aiHeader {
  color: var(--selected-ai);
}
.gameMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.startGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 366px;
  height: 126px;
  padding: 10px 20px;
  background-color: white;
  color: var(--dark-theme);
  box-shadow: 0.1vw 0.3vw 1.5vw 0.3vw rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
  border-radius: 3vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.startGame:hover {
  color: var(--selected-you);
  transition: 0.3s ease-in-out;
}
.startBtn {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.subHeader.result {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  transition: justify-content 1.5s ease-in-out;
}

.card {
  flex: 1;
  width: 16vw;
  height: 16vw;
  background-color: var(--dark-theme);
  border-radius: 3vw;
  padding: 1vw;
  color: #0a0b17;
  background-color: white;
  box-shadow: 0.1vw 0.3vw 1.5vw 0.3vw rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select:hover {
  background-color: white;
  transition: 0.3s ease-in-out;
  color: var(--selected-you);
}

.card i {
  font-size: 10.1vw;
  margin-bottom: 4vw;
  margin-top: 8vw;
}

.card h4 {
  font-size: 3.2vw;
  margin-top: 3vw;
}

.roundCountContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
  min-width: 40vw;
  margin-bottom: 5vw;
}

.circle {
  width: 5vw;
  height: 5vw;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 3vw;
}

.circle:last-child {
  margin-right: 0;
}

.winColor {
  color: var(--selected-you);
}

.winBackground {
  background-color: var(--selected-you);
}

.loseColor {
  color: var(--selected-ai);
}

.loseBackground {
  background-color: var(--selected-ai);
}

.tieColor {
  color: var(--draw);
}

.tieBackground {
  background-color: var(--draw);
}

.you {
  background-color: var(--selected-you);
  color: white;
}
.ai {
  background-color: var(--selected-ai);
  color: white;
}

.selected {
  box-shadow: none;
  cursor: default;
  opacity: 1;
}

#youCard, #aiCard, .youCardAni, .aiCardAni {
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
#youCard {
  transform: translateX(-70vw);
}
#aiCard {
  transform: translateX(70vw);
}
.youCardAni {
  transform: translateX(0) !important;
}
.aiCardAni {
  transform: translateX(0) !important;
}

.none {
  display: none;
}

@media (max-width: 768px) {
  .mainHeader {
    margin-top: 10vw !important;
    font-size: 6vw !important;
  }

  .heroHeader {
    font-size: 6vw;
  }

  .subHeader {
    font-size: 3vw !important;
  }

  .subHeader.result {
    font-size: 5vw !important;
  }

  .startGame {
    border-radius: 5vw;
    width: 36.6vw;
    height: 12.6vw;
    padding: 1vw 2vw;
  }

  .startBtn {
    font-size: 4.8vw;
  }

  .gameMain {
    padding-top: 15vw;
  }

  .icon-container {
    flex-direction: column;
  }

  .card {
    width: 30vw !important;
    height: 30vw !important;
    margin-bottom: 4vw !important;
    padding: 1vw 0;
  }
}

@media screen and (orientation: landscape) {
  .icon-container {
    flex-direction: row;
  }

  .card {
    height: 16vw !important;
    width: 16vw !important;
  }

  .gameMain {
    padding-top: 0vw;
  }
}
