:root {
  --dark-theme: #0a0b17;
  --selected-you: #00a9a9;
  --selected-you-light: #51c2c0;
  --selected-ai: #ff007a;
  --draw: #4f53ff;
}

body {
  background-color: #f9faf8;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.gameTop {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heroHeader {
  font-size: 60px;
  color: var(--dark-theme);
  font-weight: 900;
}

.mainHeader {
  font-size: 60px;
  color: var(--dark-theme);
  font-weight: 900;
}

.subHeader {
  font-size: 32px;
  color: var(--dark-theme);
}
.splitHeader {
  display: flex;
  justify-content: space-evenly;
}
.youHeader {
  color: var(--selected-you)
}
.aiHeader {
  color: var(--selected-ai);
}
.gameMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.startGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 366px;
  height: 126px;
  padding: 10px 20px;
  background-color: white;
  color: var(--dark-theme);
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}
.startGame:hover {
  color: var(--selected-you);
  transition: 0.3s ease-in-out;
}
.startBtn {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  width: 227px;
  height: 209px;
  background-color: var(--dark-theme);
  border-radius: 30px;
  padding: 20px;
  color: #0a0b17;
  background-color: white;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover {
  background-color: white;
  transition: 0.3s ease-in-out;
  color: var(--selected-you);
}

.card i {
  font-size: 101px;
  margin-bottom: 40px;
  margin-top: 80px;
}

.card h4 {
  font-size: 32px;
  margin-top: 30px;
}

.roundCountContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  min-width: 400px;
  margin-bottom: 50px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 30px;
}

.circle:last-child {
  margin-right: 0;
}

.you {
  background-color: var(--selected-you);
}
.ai {
  background-color: #ff007a;
}

.none {
  display: none !important; /* I had to add !important, otherwise my display: flex in cardInGame  overides it, you might want to re-arange CSS for this. - Grantas */
}


/* ========= Grantas's CSS for JS reasons ========= */

.gameCardsContainer {
  display: flex;
  justify-content: space-evenly;
}

.cardInGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  width: 227px;
  height: 209px;
  
  padding: 20px;
  
  background-color: var(--dark-theme);
  border-radius: 30px;
  color: white;
  text-align: center;
  margin: 0 50px;

  cursor: pointer;
}

.cardInGamePlayer {
  background-color: #51C2C0;
  box-shadow: 1px 3px 15px 3px rgba(81, 194, 192, 0.25);
}

.cardInGameAi {
  background-color: #FF007A;
  box-shadow: 1px 3px 15px 3px rgba(255, 0, 122, 0.25);
}

.cardInGame i {
  font-size: 101px;
  margin-bottom: 40px;
  margin-top: 80px;
}

.cardInGame h4 {
  font-size: 32px;
  margin-top: 30px;
}
